nav(class="navbar-wrapper navbar-default navbar-static-top" role="navigation")
	.container
		.navbar-header
			a.navbar-brand(href="/") HoneyPot




.container(ng-controller="AppCtrl")

	b
		i
			h4.text-center {{alert}}

	.jumbotron
		.hero-unit.text-center
			h1 It's a Honey Pot, K? 


	form.form
		.form-group
			input.form-control(ng-model="campaign", type="text", placeholder="Campaign name")
			br
			input.form-control(ng-model="redirectURL", type="text", placeholder="Redirect URL")
			br 
			input.form-control(ng-model="email", type="email", placeholder="Alert Email")
			br
			.row
				.col-xs-10
					input.form-control(ng-model="ip", type="text", placeholder="Whitelist IPs (comma separated)")		
				.col-xs-2
					a.btn.btn-primary(ng-click="addIP()") Add IP
		.jumbotron
			table.table().text-center
				h4 Whitelisted IPs: 
				tr(ng-repeat="ip in whitelistedIPs") 
					td {{ip.ip}}
					td 
						a.btn.btn-primary(ng-click="removeIP(ip)") Delete
		a.btn.btn-primary(ng-click="post()") Submit

script.
	var homeip = "#{ip}"

script(src="/app/app.js")