!!!
html(ng-app)
head
	title= "ItsAHoneyPo.Tk?"
	link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	link(rel='text/javascript', href='/javascripts/bootstrap.min.js')
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js") 
	script(src="http://code.jquery.com/jquery-1.10.1.min.js") 
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body!= body